<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <title>Sistem Vaksinasi Covid 19</title>
  </head>
  <body>
    {{! Navbar  }}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">SISCOVID-19</a>
        <a href="/login" class="btn btn-outline-light my-2 my-sm-0">Login</a>
      </div>
    </nav>
    {{! Jumbotron }}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Selamat datang di SISCOVID-19</h1>
        <p class="lead">
          Sistem Vaksinasi dan Informasi Covid-19 (SISCOVID-19) adalah sebuah
          website untuk menyediakan layanan iformasi mengenai data Covid-19 di
          seluruh Indonesia juga data per daerah. SISCOVID-19 juga menyediakan
          layanan untuk masyarakat melakukan vaksinasi dengan cara Login atau
          melakukan Regitrasi.
        </p>
        <a
          class="btn btn-outline-primary mt-3"
          href="/register"
          role="button"
        >Daftar vaksinasi</a>
      </div>
    </div>

  </body>
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script>

  </script>
</html>